<div class="my">
      <%= image_tag("222.png", :class=>"my_img") %>
      <div class="overlay">
          <%= link_to "/colors/index" do %><div class="my_text">a piece of sentences</div><% end %>
      </div>
</div>
