<p class="speak_text"> 귀 기 울 여 주 세 요 </p>

<div class="speaker" onclick="play()" style="background-color: #102E0A;">
</div>

<audio class="audio" id="player">
    <source src=<%= audio_url("10yej.mp3") %>  type="audio/mp3" />
    오디오가 지원되지 않는 브라우저입니다.
</audio>

<script>
    function play(){
        var audio = document.getElementById("player");
        audio.play();
    }
    
</script>
